body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #f6f6f6;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
}
.note {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}
.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}
